@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.whyAdaniHeader {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    padding-top: 1.2rem;
  }

  > header {
    h1 {
      @media (max-width: 991px) {
        padding-left: 2.5rem;
        padding-top: 1.25rem;
      }

      @media (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 0.5rem;
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 2.5rem;
  }

  img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

    @media (min-width: 992px) {
      height: 26.75rem;
    }

    @media (max-width: 767px) {
      height: 14.5rem;
      max-height: none;
    }
  }
}

.innerBanner {
  position: relative;
  display: block;
  width: 100%;

  .imgType {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.25rem 0.8rem;
    border-radius: 1rem;
    color: $white;
    font-size: 0.75rem;
    z-index: 1;
  }

  @media (max-width: 991px) {
    min-height: 14.5rem;
  }

  @media (min-width: 992px) {
    height: 26.75rem;
  }
}
