$golden: #ea9b31;
$richBlack: #030303;
$gray: #7c7d7d;
$gray1: #7d7c7c;
$gray2: #818181;
$gray3: #7f7f7f;
$aliceBlue: #f3f7fb;
$aliceBlue1: #f2f8ff;
$aliceBlue2: #f1f4ff;
$aliceBlues: #ebf7fe;
$brightGray: #eaeaea;
$davyGray: #555555;
$davyGray1: #5a5a5a;
$denim: #1d65c1;
$darkGunmetal: #292521;
$darkGunmetal1: #212529;
$philippineGray: #8a8a8a;
$philippineGray1: #919191;
$spanishGray: #9a9a9a;
$gainsboro: #dedede;
$platinum: #e2e2e2;
$platinum1: #e5e5e5;
$platinum2: #e6e6e6;
$quickSilver: #a2a2a2;
$quickSilver1: #a3a3a3;
$brightGray: #e9e9e9;
$brightGrays: #e5f0f7;
$quartz: #4a4a4a;
$pastelViolet: #c693c7;
$silverSand: #c1c2c7;
$antiFlashWhite: #f0f0f0;
$ghostWhite: #f7fafc;
$maastrichtBlue: #001731;
$seashell: #fff5ee;
$royalOrange: #f28f41;
$chineseSilver: #cacaca;
$silverChinese: #cccccc;
$lotion: #fafafa;
$lavender: #e4e2ef;
$blackOlive: #3a3a3a;
$lightblue: #f3f7fc;
$cultured: #f6f6f6;
$sonicSilver: #787878;
$sonicSilvers: #777777;
$lightSilver: #d8d8d8;
$darkblue: #0a52a2;
$snow: #fff9f6;
$cultured: #f4f6f8;
$green: #13a180;
$spanishBlue: #006db7;
$trueBlue: #0066d1;
$popstar: #be4768;
$antiFlashWhiteHover: #f3f3f3;
$grayCultured: #f4f4f4;
$fordgrey: #979797;
$littleBoyBlue: #6fa4da;
$pistachio: #8ac77a;
$plum: #944195;
$brightGrey: #eaebed;
$americanSilver: #d1d1d1;
$dandelion: #ffd866;
$lightgrayCultured: #f5f5f5;
$bright-Gray: #e9ecef;
$engineRed: #d02626;
$alice-Blue: #eef4fb;
$gainsBoro: #dfdfdf;
$twitterBlue: #1da1f2;
$facebookBlue: #1777f2;
$whatsappGreen: #66d05c;
$culturedGrey: #f7f7f7;
$baastrichtblue: #0f142e;
$lightGray: #ced4da;
$secondary: #222222;
$info: cyan;
$gray-600: #333333;
$dark: #666666;
$white: #ffffff;
$warning: #fef6ea;
$surface: #f2f2f2;
$black: #000000;
$blue: #0d67ca;
$primary: $blue;
$success: #177f38;
$error: red;
$light: $white;
$font-size-base: 1rem;
$body-color: $secondary;
$body-bg: $white;
$popup-box-border-color: #dadce0;
$popup-box-body-bg-color: $white;
$popup-box-body-shadow: rgb(0 0 0 / 15%) 0px 10px 12px;
$borderRadius: 0.5rem;
$active-bg: rgba(
  $color: $primary,
  $alpha: 0.05,
);
$footer-bg: #f9f9f9;
$color-ddd: #dddddd;
$illustration-width: 23.75rem;
$brand-color: #f57e1f;
$brand-hover: #e67225;
$color-999: #999999;
$azureish-white: #d8ebf2;
$aliceLightBlue: #f0f9ff;

//font-family
$icon-font: 'IconFont', sans-serif;
$font-regular:
  'Roboto',
  Helvetica Neue,
  Arial,
  sans-serif;
$font-medium:
  'Roboto-Medium',
  Helvetica Neue,
  Arial,
  sans-serif;
$font-bold:
  'Roboto-Bold',
  Helvetica Neue,
  Arial,
  sans-serif;

$zindex-0: 0;
$zindex-1: 1;
$zindex-3: 3;
