@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.listingCarousel {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  a {
    display: block;

    &:hover {
      .propImage {
        @media (min-width: 992px) {
          transition: ease-in-out all 2600ms;
          transform: scale(1.1);
        }

        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          transform: scale(1);
          transition: unset;
        }

        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
          transform: scale(1);
          transition: unset;
        }
      }
    }

    .propImage {
      height: 16.5rem;
      width: 100%;
      object-fit: cover;

      @media (min-width: 992px) {
        transition: ease-in-out all 2600ms;
        transform: scale(1.01);
      }

      @media (max-width: 992px) {
        height: 12.5rem;
      }
    }

    .imageDesc {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      background-color: rgba(0, 0, 0, 0.6);
      color: $white;
      font-size: 0.7rem;
      padding: 0.375rem 1rem;
      border-radius: 3.125rem;
      opacity: 0;
      transition: ease all 0.5s;

      @media (min-width: 992px) and (max-width: 1366px) {
        padding: 0.375rem 0.5rem;
        font-size: 0.65rem;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        padding: 0.375rem 0.5rem;
        font-size: 0.65rem;
      }

      @media (max-width: 992px) {
        right: 0.5rem;
      }
    }
  }
}
