@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.TownshipSidebar {
  padding: 1.4rem 1rem;
  background-color: $snow;
  border-radius: 0.75rem;
  font-size: 1rem;
  color: $dark;
  line-height: 1.813rem;

  .imageSection {
    padding: 1.875rem 0 3rem 0;
    text-align: center;

    img {
      max-height: 5rem;
    }
  }

  li {
    color: $gray-600;
    font-size: 0.875rem;
    line-height: 1.75rem;
    width: 50%;
    display: inline-block;

    &:before {
      content: '•';
      padding-right: 0.5rem;
      color: $gray-600;
      font-size: 1.25rem;
      vertical-align: middle;
    }
  }

  h4 {
    font-size: 1.125rem;
    color: $gray-600;
    padding-top: 2.125rem;
    padding-bottom: 0.625rem;
    font-weight: 600;
  }

  @media screen and (max-width: 991px) {
    margin-top: 3.75rem;
    padding: 1.4rem 1rem 2rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  @supports (position: sticky) {
    .stickyWrapper {
      position: sticky;
      top: 10rem;
    }
  }
}

.townshipStudio {
  button {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  svg {
    width: 1.5rem;
    margin-left: 0.25rem;
  }
}
