@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.certificateBanner {
  margin-bottom: 4rem;
  position: relative;

  .bannerWrapper {
    position: relative;
    margin: auto;
    height: 26.8rem;

    &.bannerMobile img {
      height: 14.5rem;
      width: 100%;
      object-fit: cover;
    }

    img {
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 991px) {
      height: 14.4rem;
    }
  }

  @media (max-width: 991px) {
    margin-bottom: 2rem;
    padding-top: 1.2rem;

    h1 {
      padding: 0 0 0.5rem 2.5rem;
    }
  }

  span {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    color: $white;
    font-size: 0.688rem;
  }
}
