@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.wrapper {
  margin-bottom: 2rem;

  header {
    margin-bottom: 0.875rem;

    @media (max-width: 991px) {
      margin-bottom: 2rem;
    }

    h1 {
      @media (max-width: 991px) {
        padding-left: 2.5rem;
        padding-top: 1.2rem;
      }
    }
  }

  .seeMore {
    color: $gray-600;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: $font-medium;
    background: transparent;
    border: none;
    padding: 0;

    &:hover {
      text-decoration: none;

      @media (max-width: 1024px) {
        text-decoration: underline;
      }
    }
  }
}

.residentialHeader {
  @include toRem(height, 250);
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  width: 100%;

  @media (max-width: 991px) {
    @include toRem(height, 160);
    @include toRem(margin-bottom, 48);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  span {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0.875rem;
    right: 0.875rem;
    padding: 0.25rem 0.6rem;
    border-radius: 1rem;
    color: $white;
    font-size: 0.688rem;
  }
}
