@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.iconButton {
  @include circle(2.25rem);
  padding: 0;
  background-color: transparent;
  @include transition(background-color 0.5s);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  position: relative;

  @media screen and (min-width: 767px) {
    &:hover {
      background-color: $antiFlashWhiteHover;
    }
  }
}
