@import 'src/scss/partials/variable.scss';
@import '../src/scss/partials/_mixins.scss';

.wrapper {
  position: relative;

  .combineOption {
    @include toRem(height, 60);
    background-color: $white;
    border: 0.063rem solid $gainsboro;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    overflow: hidden;

    .countryCode {
      background-color: $white;
      pointer-events: unset;
      display: flex;
      flex: 0 0 8.5rem;
      cursor: pointer;
      position: relative;
      padding: 0.625rem 0.5rem 0.625rem 1rem;

      @media (min-width: 992px) and (max-width: 1024px) {
        flex: 0 0 7.2rem;
      }

      .selectFlag {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;

        input[type='text'] {
          font-family: $font-medium;
          @include toRem(font-size, 16);
          background-color: $white;
          caret-color: transparent;
          cursor: pointer;
          padding: 0 0 0 2.35rem;
          width: 100%;
          border: none;
          outline: none;
        }
      }

      .icon {
        @include center(vertical);
        @include toRem(font-size, 14);
        right: 0.875rem;
        top: 1.3rem;
        transition: ease all 0.3s;
        transform: rotate(-180deg);

        &.arrowUp {
          transform: rotate(0deg);
        }
      }

      &::after {
        background-color: $chineseSilver;
        bottom: 0.625rem;
        content: '';
        position: absolute;
        right: 0;
        top: 0.625rem;
        width: 0.063rem;
      }
    }

    .numWrap {
      position: relative;
      width: 100%;

      input {
        background: $white;
        border: transparent;
        outline: none;
        box-shadow: none;
      }

      .mobileInput {
        height: 100%;
        width: 100%;
        border: none;

        input,
        label {
          @include toRem(padding-left, 16);
          @include toRem(padding-right, 0);

          @media (min-width: 992px) and (max-width: 1200px) {
            @include toRem(padding-left, 8);
          }
        }
      }
    }

    &:focus-within,
    &:hover {
      border: 0.0625rem solid $secondary;
    }
  }
}

.error {
  .combineOption {
    border: 0.063rem solid $error;
  }
}
