@import '/src/scss/partials/variable.scss';
@import '/src/scss/partials/_mixins.scss';

.leadership {
  .leaderSection {
    text-align: center;
    padding-top: 2rem;

    @media screen and (max-width: 991px) {
      padding-top: 1rem;
    }

    img {
      margin: 2rem auto;
      @include circle(13.25rem);
      border: 1px solid $platinum;

      @media screen and (max-width: 991px) {
        margin: 0 auto 1rem;
      }
    }

    h3 {
      font-size: 1.35rem;
      margin-bottom: 0.5rem;
      font-family: $font-bold;
    }

    p {
      max-width: 18.875rem;
      margin: 0 auto;
      font-size: 1rem;

      @media screen and (max-width: 991px) {
        width: auto;
        font-size: 0.9rem;
      }
    }

    span {
      font-weight: 600;
      margin-bottom: 1.25rem;
      display: block;
    }
  }
}

.col {
  text-align: center;
}
